


.card {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}


.card-img {
  width: 100%;
  border-radius: 6px;
 
}

.buy-button {
  background-color: #ff6b6b;
  color: white;
  padding: 12px 20px;
  font-size: 10px;
  border: none;
  border-radius: 10px;
}

